@model IEnumerable<IGrouping<string, ProjektB.Web.Models.ActivityViewModel>>

@{
    ViewBag.Title = "Leaderboard";
}

<h2>Leaderboard</h2>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @{ var i = 0;}
    @foreach (var group in Model)
    {
        i++;
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading_@i">
                <div class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_@i" aria-expanded="false" aria-controls="collapse_@i">
                        <div class="numberCircle">@i</div>
                        <span style="font-size:larger">@group.Key &#8594; @(group.GetScore().ToString("N2"))</span>
                    </a>

                </div>
            </div>
            <div id="collapse_@i" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_@i">
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th></th>
                            <th>User</th>
                            <th>Activity</th>
                            <th>Score</th>
                        </tr>
                        @foreach (var activity in group.OrderByDescending(g => g.TimeStamp))
                        {
                            <tr onclick="window.location =  '@Url.Action("UserStatistics", "Home", new { userId = activity .UserLogin.UserId })' ">
                                <td>
                                    <div class="circular">
                                        <img src="@activity.UserImage" />
                                    </div>
                                </td>
                                <td>
                                    @activity.UserName
                                </td>
                                <td>
                                    @activity.ActivityType
                                </td>
                                <td>
                                    @activity.Score.ToString("N2")
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    }
</div>
